# Pure UI requirements
PySide6_Essentials==6.9.1
qt-material==2.17

# Algorithm requirements
opencv-python-headless==4.11.0.86 # TODO: Test if working on windows. Otherwise revert back to "opencv-python"
numba==0.61.2
numpy==2.2.6
rawpy==0.25.0
imageio==2.37.0
pyFFTW==0.15.0
MarkupSafe==3.0.2

# TODO: Check if really needed (used for image alignment)
scipy==1.16.0
